<div class="form-group">
  <label class="col-md-3 control-label">Description</label>
  <div class="col-md-3"><%= text_field_tag "other_input_desc[#{i}]", '', class: "form-control" %></div>
  <label class="col-md-3" style='text-align: right'>Amount</label>
  <div class="col-md-3"><%= text_field_tag "other_input_amount[#{i}]", '', class: "form-control" %><div>
</div>
