<div class="modal fade" id="myModal<%= key %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render partial: 'size', locals: {product: product, quantities: params[:quantities], product_sizes: product.product_sizes.sort_by{|product_size|product_size.size_detail.size_number},
    list_product: @list_product, key: key} %>
</div>
