<%= render 'shared/breadcrumb' %>
<div id="content">
  <section id="widget-grid" class="">
    <div class="row">
      <article class="col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
          <header>
            <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
            <h2>Monthly Budgeting for <%= @budget.year.year %> </h2>
          </header>
          <div>
            <div class="jarviswidget-editbox">
            </div>
            <div class="widget-body no-padding">
              <%= form_for @budget, url: finances_budgeting_path, html: {class: "smart-form", id: "form-update-verify", :multipart => true} do |f| %>
                <%= render partial: 'budgeting', locals: { f: f }%>
              <% end %>
            </div>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>