<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Transaction Amount</Data></Cell>
        <Cell><Data ss:Type="String">Cashback Amount</Data></Cell>
        <Cell><Data ss:Type="String">Member Level</Data></Cell>
      </Row>
    <% Cashback.all.each do |cashback| %>
      <Row>
        <Cell><Data ss:Type="String"><%= cashback.transaction_amount %></Data></Cell>
        <Cell><Data ss:Type="String"><%= cashback.cashback_amount %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>