<%= form_tag finance_reports_denominations_path, method: "GET", class: "smart-form", :remote => true  do %>
  <fieldset>
    <div class="row">
      <section class="col col-6">
        <section>
          <label class="col-md-4 label">Branch</label>
          <div class="col-md-6 input custom-input-box">
            <%= select_tag("branch_id", options_for_select(branchs.map{|branch|[branch.office_name, branch.id]}, selected: branch_id), prompt: "Please Select", class: "form-control") %>
          </div>
          <label class="col-md-4 label">Date</label>
          <div class="col-md-6 input custom-input-box">
            <%= select_date(time, order: [:year, :month, :day], class: "form-control") %>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-6">
            <%= submit_tag "Submit", :class => "btn btn-primary", :style => "padding:5px;" %>
          </div>
        </section>
      </section>
    </div>
  </fieldset>
<% end %>
