<%= render 'shared/breadcrumb' %>
<div id="content">
  <section id="widget-grid">
    <div id='notice_template'><%= render 'layouts/notice' %></div>
    <div class="row">
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false">
          <h2 style="color:#BF1E2D; margin-top:-5px;"><i class="fa fa-list-ul"></i> Bank Out Report List</h2>
          <div style="margin-top:-10px;">
            <div class="widget-body no-padding">
              <%= render 'filter' %>
            </div>
            <table class="table table-striped table-brequested table-hover" width="100%">
              <thead>
                <tr>
                  <th>AP No.</th>
                  <th>Due Date</th>
                  <th>Supplier Name</th>
                  <th>Total Amount</th>
                  <th>Total Paid</th>
                  <th>Total Retur</th>
                  <th>Outstanding</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id='bank_out_list'><%= render 'list' %></tbody>
            </table>
          </div>
        </div>
      </article>
    </div>
  </section>
</div>
