<div class="alert alert-info alert-block" style='float: left; width: 98%'>
  <a class="close" data-dismiss="alert" href="#">×</a>
  <div style="margin-bottom: 25px;">Contact Person 1</div>
  <section class="form-group">
    <label class="col-md-2 label">Nama <span class='important'>*</span></label>
    <label class="col-md-10 input custom-input-box"><%= text_field_tag "supplier[contact_people_attributes][#{key}][name]", (object[:name] rescue ''), class: "input-sm" %></label>
  </section>
  <section class="form-group">
    <label class="col-md-2 label">No HP</label>
    <label class="col-md-10 input custom-input-box"><%= text_field_tag "supplier[contact_people_attributes][#{key}][phone]", (object[:phone] rescue ''), class: "input-sm is-number" %></label>
  </section>
  <section class="form-group">
    <label class="col-md-2 label">Pin BB</label>
    <label class="col-md-10 input custom-input-box"><%= text_field_tag "supplier[contact_people_attributes][#{key}][pinbb]", (object[:pinbb] rescue ''), class: "input-sm" %></label>
  </section>
  <section class="form-group">
    <label class="col-md-2 label">Email *</label>
    <label class="col-md-10 input custom-input-box"><%= text_field_tag "supplier[contact_people_attributes][#{key}][email]", (object[:email] rescue ''), class: "input-sm" %></label>
  </section>
</div>
<SCRIPT>
  for (i=0; i<$('#contact div.alert div').length; i++){
    $('#contact div.alert div')[i].innerHTML = "Contact Person "+(i+1)
  }
</SCRIPT>