<div class="page-footer">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <span class="txt-color-white">Nuansa Baru Indonesia <span class="hidden-xs"> - SCM Application</span> © 2015</span>
    </div>
  </div>
</div>